.paginationContainer {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7fa1e3;
}

.paginationContainer button {
    background-color: transparent;
    border: none;
    padding: 3px;
}


.currentPage {
    font-size: 1.1rem;
    font-weight: bold;
    color: #4949dc;
}