.dialog {
    display: flex;
    gap: 5px;
    margin: 3px 0;
    border-bottom: 1px solid white;

    &.active {
        color: gold;
        font-weight: bold;
        text-align: right;

        & a::before {
            content: "➡️ ";
        }
    }

}

.avatar {
    width: 20px;
    border-radius: 50%;
}