.posts {
    padding: 20px;
    margin-bottom: 50px;
    border-bottom: 25px solid teal;
    border-top: 25px solid teal;
    border-radius: 50px;
}

.head {
    text-align: center;
}

.textarea {
    height: 100px;
}