.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;

    & input {
        display: block;
    }
}

.errorSubmit {
    border: 2px solid red;
    border-radius: 5px;
    padding: 5px;
    width: max-content;
}