.item {
    color: greenyellow;

    & img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
    }
}

.like {
    color: red;
    font-size: 1.5rem;
    cursor: pointer;
}