.item {
    padding: 1rem;
    margin: 10px;
    color: greenyellow;
    border: 2px solid black;
    border-radius: 10px;

    & img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
    }
}

.like {
    display: flex;
    align-items: center;

    & .likeHeart {
        color: red;
        font-size: 1.5rem;
        cursor: pointer;
    }

    & .likeCount {
        margin-right: 5px;
    }
}