.profileImg {
    width: 100%;
    height: 100px;
    object-position: center left;
    object-fit: cover;
}

.description {
    padding: 20px;
    margin-bottom: 50px;
    border-bottom: 25px solid #646cff;
    border-top: 25px solid #646cff;
    border-radius: 50px;
}