.usersContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
}

.paginationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.paginationContainer button {
    background-color: transparent;
    border: none;
    padding: 3px;
}


.currentPage {
    font-size: 1.1rem;
    font-weight: bold;
    color: #4949dc;
}