.message {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 5px 10px;
    margin-bottom: 3px;
    width: max-content;
    border: 1px solid white;
    border-radius: 10px;
}

.myMessage {
    text-align: left;
    align-self: flex-start;
}

.interlocutorMessage {
    text-align: right;
    align-self: flex-end;
}

.avatar {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}